<?xml version="1.0" encoding="UTF-8"?>
<document
  xmlns="http://maven.apache.org/XDOC/2.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/XDOC/2.0 http://maven.apache.org/xsd/xdoc-2.0.xsd">

  <properties>
    <title>${project.name}</title>
  </properties>

  <body>
    <subsection name="${project.name}">
      <p>
        The <b>${project.name}</b> package implements some missing
        Java functionality with regards to the conversion of unsigned
        integer values between types.
      </p>
    </subsection>
    <subsection name="Features">
      <ul>
        <li>Functions to convert unsigned int/long values to/from float/double values.</li>
        <li>Unsigned variants of <a href="https://io7m.github.io/jranges">jranges</a> functions and types.</li>
        <li>100% unit test coverage.</li>
        <li>ISC license.</li>
      </ul>
    </subsection>
  </body>

</document>
